<div class="container">
<h2>Your Friends</h2>
  <% for friendship in current_user.friendships %>
      <div class="user">
        <div class="imgBox"><%= image_tag("http://www.gravatar.com/avatar.php?gravatar_id=#{friendship.friend.gravatar_digest}", :size => "50x50")%></div>
        <p><%= h friendship.friend.name %> </p>
        (<%= link_to "remove", friendship, :method => :delete %>)
      </div>
  <% end %>

<h2>Other Users</h2>

<% for user in @users %>
    <div class="user">
      <%= image_tag("http://www.gravatar.com/avatar.php?gravatar_id=#{user.gravatar_digest}", :size => "50x50")%>
      <p>
        <strong><%=h user.name %></strong>
        <%= button_to "Add Friend", friendships_path(:friend_id => user)%>
      <div class="clear"></div>
      </p>
    </div>
<% end %>
</div>