<p id="notice"><%= notice %></p>

<p>
  <b>Activity for:</b>
  <%= @activity.activity_for %>
</p>

<p>
  <b>Media:</b>
  <%= @activity.media %>
</p>

<p>
  <b>Description:</b>
  <%= @activity.description %>
</p>

<p>
  <b>Contact person:</b>
  <%= @activity.contact_person %>
</p>

<p>
  <b>Is anonymous:</b>
  <%= @activity.is_anonymous %>
</p>

<p>
  <b>User Name:</b>
  <%= @activity.user.name %>
</p>

